<div class="container-fluid">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm">

    {{ userForm.value | json }}

    <div ngModelGroup="address">
      <div class="form-group">
        <label for="">Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label for="">State</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>
      <div class="form-group">
        <label for="">Postal Code</label>
        <input type="text" class="form-control" name="postalCode" ngModel>
      </div>
    </div>

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" name="userName" id="" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label for="">Email</label>
      <input type="email" name="email" id="" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label for="">Phone</label>
      <input type="tel" name="phone" id="" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <select name="topic" id="" class="custom-select" ngModel>
        <option selected>I am interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="">Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning" ngModel>
        <label class="form-check-label">Morning (9AM - 12AM)</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="evening" ngModel>
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" ngModel name="subscribe">
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
    
  </form>
</div>