<div class="container-fluid">
  <h2>Registration From</h2>
  {{ registrationForm.value | json }}
  <form [formGroup]="registrationForm">
    <div class="form-group mb-3">
      <label>Username</label>
      <input [class.is-invalid]="userName?.invalid && userName?.touched" formControlName="userName" type="text" class="form-control">
      <!-- <small [class.d-none]="userName?.valid || userName?.untouched" class="text-danger">Username is required</small> -->
      <div *ngIf="userName?.invalid && userName?.touched">
        <small *ngIf="userName?.errors?.['required']" class="text-danger">Username is required</small>
        <small *ngIf="userName?.errors?.['minlength']" class="text-danger">Username must be at least 3 characters</small>
        <small *ngIf="userName?.errors?.['forbiddenName']" class="text-danger">{{userName?.errors?.['forbiddenName'].value}} Username not allowed</small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label>Email</label>
      <button class="btn btn-secondary btn-sm m-2" type="button" (click)="addAlternateEmail()">Add e-mail</button>
      <input [class.is-invalid]="email.invalid && email.touched" formControlName="email" type="text" class="form-control">
      <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required</small>
      <div formArrayName="alternateEmail" *ngFor="let email of alternateEmail.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i">
      </div>
    </div>

    <div class="form-check mb-3">
      <input formControlName="subscribe" type="checkbox" class="form-check-input">
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <div class="form-group mb-3">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="form-group mb-3">
      <label>Confirm Password</label>
      <input [class.is-invalid]="registrationForm.errors?.['misMatch']" formControlName="confirmPassword" type="password" class="form-control">
      <small *ngIf="registrationForm.errors?.['misMatch']" class="text-danger">Password do not match</small>
    </div>

    <div class="mb-3" formGroupName="address">
      <div class="form-group mb-3">
        <label>City</label>
        <input formControlName="city" type="text" class="form-control">
      </div>

      <div class="form-group mb-3">
        <label>State</label>
        <input formControlName="state" type="text" class="form-control">
      </div>

      <div class="form-group mb-3">
        <label>Postal Code</label>
        <input formControlName="postalCode" type="text" class="form-control">
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
    <button class="btn btn-secondary ms-2" (click)="loadApiData()">Load API Data</button>
  </form>
</div>